button.cta {
  display: inline-block;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border-radius: 5rem;
  padding: 1rem 3rem;
  width: max-content;
  font-family: var(--font);
  color: var(--white);
  border: 1px solid transparent;
  margin-top: 2rem;
  font-weight: var(--thick); }

.cta__link {
  color: var(--cyan);
  font-family: var(--font);
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.7rem; }
  .cta__link span {
    display: inline-flex;
    border-radius: 50%;
    margin-left: 0.5rem; }
  .cta__link .icon {
    background-color: currentColor; }

:root {
  --intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
  --body-font: 'Open Sans', sans-serif;
  --font: 'Raleway', sans-serif;
  --thin: 400;
  --thick: 700; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: var(--body-font); }

body {
  background-color: var(--intro-email-bg);
  color: var(--white); }

.centering {
  padding: 0 15%; }

h2 {
  font-size: 2.6rem;
  margin: 2.5rem 0;
  line-height: 1.7; }

p {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 2rem; }

header > p {
  margin: auto;
  width: 50%; }

p.smaller-font {
  font-size: 1.4rem; }

h3 {
  font-size: 1.9rem;
  margin: 1.5rem 0; }

h5 {
  font-weight: var(--thick);
  font-size: 1.4rem;
  padding-bottom: 0.2rem; }

.nav {
  background-color: var(--intro-email-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  grid-row: 1/2; }
  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    list-style: none; }
  .nav__item {
    display: inline-block;
    padding: 1rem; }
  .nav__link {
    color: var(--white);
    text-decoration: none;
    font-size: 1.7rem; }

.header {
  color: var(--white);
  font-family: var(--font);
  text-align: center;
  line-height: 1.7;
  position: relative;
  grid-row: 2/3; }
  .header > .intro-img {
    width: 65rem;
    height: auto; }
  .header > .curvy-desktop {
    position: absolute;
    left: 0;
    bottom: -27rem;
    z-index: -1; }
  .header > .curvy-mobile {
    display: none; }

.main {
  margin: 14rem 0 0;
  background-color: var(--main-bg);
  display: grid;
  grid-gap: 15vh;
  padding-bottom: 30rem; }

.section {
  display: grid;
  font-family: var(--font);
  grid-gap: 10rem;
  padding: 2rem 0; }
  .section__with-icons {
    grid-gap: 10rem; }
    .section__with-icons .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
      justify-content: space-evenly;
      grid-gap: 5rem; }
      .section__with-icons .row > .cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--font); }
        .section__with-icons .row > .cell > p {
          text-align: center;
          font-size: 1.3rem;
          width: 35rem; }
  .section__with-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
    justify-content: space-between; }
    .section__with-image .image-productive {
      width: 55rem;
      height: auto; }
    .section__with-image .side-text > p {
      margin: 0 0 2rem 0;
      width: 100%; }
  .section__with-testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 34rem));
    justify-content: space-between;
    position: relative !important; }
    .section__with-testimonials .testimonial {
      display: flex;
      flex-direction: column;
      background-color: var(--testimonials-bg);
      padding: 4rem 2rem 0; }
    .section__with-testimonials .testimonial > p {
      font-size: 1.4rem;
      line-height: 1.6; }
    .section__with-testimonials .quote-image {
      position: absolute;
      top: -4.3rem;
      left: -1rem; }
    .section__with-testimonials .user {
      display: flex;
      align-items: flex-start; }
      .section__with-testimonials .user__info {
        display: flex;
        flex-direction: column; }
        .section__with-testimonials .user__info > p.smaller-font {
          font-size: 1.1rem; }
      .section__with-testimonials .user__image {
        border-radius: 50%;
        width: 3.6rem;
        height: auto;
        margin-right: 1rem;
        display: inline-block; }

form {
  text-align: center;
  background-color: var(--intro-email-bg);
  position: absolute; }

form {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 95%;
  margin: 0 auto; }

input[type='email'] {
  width: 100rem; }

.footer.centering {
  width: 98vw;
  background-color: var(--footer-bg);
  display: grid;
  grid-template-columns: 30rem repeat(3, minmax(15rem, 25rem)) 15rem;
  padding: 10rem 15%;
  align-items: baseline;
  grid-gap: 3rem; }
  .footer.centering .contact {
    display: flex;
    align-items: inherit;
    font-size: 1.4rem; }
    .footer.centering .contact img {
      width: 2rem;
      height: 2rem;
      margin-right: 2rem; }
  .footer.centering img ~ .contact {
    margin-top: -2rem; }
  .footer.centering .logo {
    margin-bottom: 4rem; }

.social {
  display: flex;
  justify-content: space-between; }
  .social__icon {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }

.list {
  list-style-type: none; }
  .list .link {
    color: var(--white);
    text-decoration: none;
    font-size: 1.7rem; }

.cell:nth-of-type(2),
.cell:nth-of-type(3),
.cell:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  align-items: baseline; }

.cell:nth-of-type(3),
.cell:nth-of-type(4) {
  align-items: center; }

.cell-2 {
  height: 6rem;
  justify-content: space-between; }
